.star-rate{
    float: left;
    width:93px;
}
.star-rate input{
    float:right;
    width:18px;
}
.star-rate:after{
    content: "";
    clear: both;
}
.star-rate input{
    display: none;
}
.star-rate label{
    display:inline-block;
}
.star-rate input[type=radio]+label{
	width:18px;
    height: 16px;
    background: url('../images/stars.png') no-repeat 0 0;
    cursor: pointer;
    float:right;
}
.star-rate input[type=radio]:checked ~ label{
    background-position: 0 -16px;
}
div.star-rate label:hover, div.star-rate label:hover ~ label{
    background-position: 0 -16px;
    opacity: 0.6;
}